html {
  font-size: 10px;
  background-color: #E1D4C9;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  font-style: normal;
  width: 1440px;
  margin: auto;
  color: var(--color-text-dark);
}

h1 {
  font-family: "Inter";
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

h2 {
  margin: 0;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

h3 {
  margin: 0;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

h5 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.accent {
  color: var(--color-text-accent);
  font-style: italic;
}

.link {
  text-decoration: none;
  color: var(--color-text-dark);
  border-bottom: 0.3rem solid var(--color-background);
  transition: 0.5s;
}

.link:hover {
  text-decoration: none;
  color: var(--color-text-dark);
  border-bottom: 0.3rem solid var(--color-border-dark);
  border-radius: 0.1rem;
}

.link:active, .link:visited {
  text-decoration: none;
  color: var(--color-text-dark);
}

.link-footer {
  text-decoration: none;
  color: var(--color-text-light);
  border-bottom: 0.3rem solid var(--color-background-contact-us);
  transition: 0.5s;
}

.link-footer:active, .link-footer:visited {
  text-decoration: none;
  color: var(--color-text-light);
}

.link-footer:hover {
  text-decoration: none;
  color: var(--color-text-light);
  border-bottom: 0.3rem solid var(--color-border);
  border-radius: 0.1rem;
}

.link-withour-border, .link-withour-border:hover {
  text-decoration: none;
  color: var(--color-text-dark);
}

.button {
  font-family: "inter", sans-serif;
  background-color: var(--color-text-light);
  padding: 20px 78px;
  border: 1px solid var(--color-background-contact-us);
  border-style: none;
  border-radius: 100px;
  font-style: normal;
  font-weight: 600;
}

:root {
  --color-text-light: #E1D4C9;
  --color-text-dark: #403F3D;
  --color-text-accent: #B0907A;
  --color-background: #E1D4C9;
  --color-background-contact-us: #665F55;
  --color-border: #C1B6AD;
  --color-border-dark: #665F55;
  --color-button: #E1D4C9;
  --content-width: 1440px;
  --tablet-width: 768px;
  --mobile-big-width: 414px;
  --mobile-small-width: 320px;
}

.promo-back {
  background-image: url(../img/img-hero.jpg);
  height: 644px;
  color: var(--color-text-light);
  border-radius: 40px;
  border-style: none;
  margin-bottom: 10rem;
}

.promo__content {
  width: 530px;
  padding: 100px;
}

.promo__h1 {
  margin: 0;
  padding: 0;
}

.promo__p {
  margin-top: 4rem;
  margin-bottom: 5.7rem;
  font-weight: 400;
  line-height: 150%;
}

.button_ico {
  line-height: 150%;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  font-size: 16px;
}

.favorite-coffee {
  text-align: center;
  margin-bottom: 10rem;
}

.favorite-coffee__h2 {
  margin-top: 0;
  margin-bottom: 4rem;
  text-align: center;
}

.slider-coffee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__image {
  width: 48rem;
  height: 48rem;
  margin-bottom: 2rem;
}

.slider__h5 {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.slider__info {
  width: 48rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.slider__price {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
}

.button_slider {
  display: flex;
  padding: 1.7rem;
  border: 1px solid var(--color-background-contact-us);
  transition: 0.7s;
}

.button_slider:hover {
  display: flex;
  padding: 1.7rem;
  border: 1px solid var(--color-background);
  background-color: var(--color-background-contact-us);
  cursor: pointer;
  transition: 0.7s;
}
.button_slider:hover .arrow_svg {
  stroke: var(--color-background);
}

.slider__control {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.control__border {
  margin: 0 0.6rem;
  border-radius: 10rem;
  background-color: var(--color-border);
  width: 4rem;
  height: 0.4rem;
}

.activ-control__border {
  margin: 0 0.6rem;
  border-radius: 10rem;
  background-color: var(--color-border-dark);
  width: 4rem;
  height: 0.4rem;
}

.about__h2 {
  margin-bottom: 4rem;
}

.about__image {
  display: flex;
  width: 660px;
  overflow: hidden;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: none;
}

.image__big {
  max-height: 590px;
}

.image__small {
  max-height: 430px;
}

.about__img {
  display: flex;
  width: 110%;
  height: 110%;
  transition: 1s;
}

.about__img:hover {
  transform: scale(0.9);
  transition: 1s;
}

.about {
  margin-bottom: 6rem;
}

.test {
  stroke: red;
}

.mobile-app {
  margin-bottom: 10rem;
}

.mobile-app__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 63rem;
  width: 63rem;
}

.mobile-app__h2 {
  margin-bottom: 4rem;
}

.mobile-app__p {
  margin-top: 0;
  margin-bottom: 4rem;
}

.mobile-app__buttons {
  display: flex;
}

.app_icon {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 0.8rem;
}

.app__button {
  display: flex;
  align-items: center;
  width: 20rem;
  padding: 1.2rem 2rem;
  justify-content: start;
  border: 1px solid var(--color-background-contact-us);
  margin-right: 2rem;
  transition: 0.7s;
}

.app__button:hover {
  display: flex;
  align-items: center;
  width: 20rem;
  padding: 1.2rem 2rem;
  justify-content: start;
  border: 1px solid var(--color-background);
  background-color: var(--color-background-contact-us);
  color: var(--color-text-light);
  margin-right: 2rem;
  cursor: pointer;
  transition: 0.7s;
}
.app__button:hover .app_svg {
  fill: var(--color-background);
}

.app_button-p1__content {
  display: flex;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  line-height: 140%;
}

.app_button-p2__content {
  display: flex;
  font-size: 1.6rem;
  margin: 0;
  line-height: 150%;
}

.mobile-app__image {
  height: 63rem;
  width: 63rem;
}

.coffee-menu__h1 {
  display: block;
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 0 28rem;
  text-align: center;
  font-size: 6rem;
  line-height: 125%;
}

.coffee-menu-all {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.coffee-menu-position {
  margin-bottom: 4rem;
  border-radius: 4rem;
  border: 0.1rem solid var(--color-border);
}

.position__image {
  display: flex;
  width: 31rem;
  height: 31rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  border: none;
}

.position-img {
  display: flex;
  width: 110%;
  height: 110%;
  transition: 1s;
}

.coffee-menu-position:hover {
  cursor: pointer;
}
.coffee-menu-position:hover .position-img {
  transform: scale(0.9);
  transition: 1s;
}

.menu-position-content {
  display: flex;
  flex-wrap: wrap;
  width: 27rem;
  height: 15.6rem;
  margin: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.menu-position__h3 {
  margin-bottom: 1.2rem;
}

.description-position {
  margin-top: 0;
  margin-bottom: 1.2rem;
  line-height: 150%;
}

.menu-content {
  padding: 0;
  margin: 0;
}

.price-position {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.4rem;
  line-height: 125%;
  font-weight: 600;
}

.coffee-menu {
  margin-bottom: 6rem;
}

.all_drink__button {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.drink__button {
  display: flex;
  border: 0.1rem solid var(--color-border);
  align-items: center;
  justify-items: start;
  padding: 0.8rem;
  padding-right: 1.5rem;
  background-color: var(--color-background);
  margin: 0 0.8rem;
  transition: 0.7s;
}

.drink__image {
  padding: 0.4rem 0.65rem;
  border: none;
  border-radius: 10rem;
  background-color: var(--color-border);
  margin-right: 0.8rem;
}

.drink__content {
  color: var(--color-text-dark);
  font-size: 1.6rem;
  line-height: 150%;
}

.drink__button_modificed {
  display: flex;
  border: 0.1rem solid var(--color-border-dark);
  align-items: center;
  justify-items: start;
  padding: 0.8rem;
  padding-right: 1.5rem;
  background-color: var(--color-background-contact-us);
  margin: 0 0.8rem;
}

.drink__image_modificed {
  padding: 0.4rem 0.65rem;
  border: none;
  border-radius: 10rem;
  background-color: var(--color-background);
  margin-right: 0.8rem;
}

.drink__content_modificed {
  color: var(--color-text-light);
  font-size: 1.6rem;
  line-height: 150%;
}

.drink__button:hover {
  display: flex;
  border: 0.1rem solid var(--color-border-dark);
  align-items: center;
  justify-items: start;
  padding: 0.8rem;
  padding-right: 1.5rem;
  background-color: var(--color-background-contact-us);
  margin: 0 0.8rem;
  transition: 0.7s;
  cursor: pointer;
}
.drink__button:hover .drink__image {
  padding: 0.4rem 0.65rem;
  border: none;
  border-radius: 10rem;
  background-color: var(--color-background);
  margin-right: 0.8rem;
}
.drink__button:hover .drink__content {
  color: var(--color-text-light);
  font-size: 1.6rem;
  line-height: 150%;
}

.header {
  padding: 2rem 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 600;
}

.logo {
  height: 6rem;
}

.navigation {
  display: flex;
  align-items: center;
  line-height: 2.8rem;
  margin: 0;
}

.navigation__link {
  list-style: none;
  padding: 0 2rem;
  justify-content: space-between;
}

.navigation__link_menu {
  list-style: none;
  justify-content: space-between;
}

.coffee-cup__image {
  text-align: center;
}

.header__menu {
  display: flex;
}

.button_ico:hover {
  cursor: pointer;
}
.button_ico:hover .cup-color {
  stroke: var(--color-text-dark);
  transition: 1s;
}

.button_ico .cup-color {
  stroke: var(--color-text-light);
  transition: 0.7s;
}

.border_menu {
  border-bottom: 0.3rem solid var(--color-border-dark);
  border-radius: 0.1rem;
}

.wrapper {
  max-width: var(--content-width);
  margin: 0 40px;
}

.layout-2-colump {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-us-back {
  padding: 10rem;
  border-radius: 4rem;
  background: var(--color-background-contact-us);
  color: var(--color-text-light);
  margin-bottom: 4rem;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 53rem;
}

.contact-us-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 53rem;
}

.contact-us__buttons {
  display: flex;
}

.contact-us__p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.contact-us__p3 {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.footer__h2 {
  margin-bottom: 4rem;
}

.footer__h3 {
  margin-bottom: 4rem;
}

.button_footer {
  margin-right: 1.2rem;
  display: flex;
  padding: 1.5rem 1.7rem;
  background: var(--color-background-contact-us);
  border: 0.1rem solid var(--color-border);
  transition: 0.7s;
}

.button_footer:hover {
  margin-right: 1.2rem;
  display: flex;
  padding: 1.5rem 1.7rem;
  background: var(--color-background);
  border: 0.1rem solid var(--color-border-contact-us);
  cursor: pointer;
  transition: 0.7s;
}
.button_footer:hover .social_svg {
  stroke: var(--color-background-contact-us);
}

.contact-us__ico {
  margin-right: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
