:root {
    --color-text-light: #E1D4C9;
    --color-text-dark: #403F3D;
    --color-text-accent: #B0907A;
    --color-background: #E1D4C9;
    --color-background-contact-us: #665F55;
    --color-border: #C1B6AD;
    --color-border-dark: #665F55;
    --color-button: #E1D4C9;
    
    --content-width: 1440px;
    --tablet-width: 768px;
    --mobile-big-width: 414px;
    --mobile-small-width: 320px;

}



