.button {
    font-family: 'inter', sans-serif;
    background-color: var(--color-text-light);
    padding: 20px 78px;
    border: 1px solid var(--color-background-contact-us);
    border-style: none;
    border-radius: 100px;
    font-style: normal;
    font-weight: 600;
}

