
.coffee-menu__h1 {
    display: block;
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 0 28rem;
    text-align: center;
    font-size: 6rem;
    line-height: 125%;

}

.coffee-menu-all {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coffee-menu-position {
    margin-bottom: 4rem;
    border-radius: 4rem;
    border: 0.1rem solid var(--color-border);
}

.position__image {
    display: flex;
    width: 31rem;
    height: 31rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    border: none;
}

.position-img {
    display: flex;
    width: 110%;
    height: 110%;
    transition: 1s;
}

.position-img:hover {
    transform: scale(0.9);
    transition: 1s;
}

.menu-position-content {
display: flex;
flex-wrap: wrap;
width: 27rem;
height: 15.6rem;
margin: 2rem;
flex-direction: column;
justify-content: space-between;
}

.menu-position__h3 {
    margin-bottom: 1.2rem;
}

.description-position {
    margin-top: 0;
    margin-bottom: 1.2rem;
    line-height: 150%;
}

.menu-content {
    padding: 0;
    margin: 0;
}

.price-position {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.4rem;
    line-height: 125%;
    font-weight: 600;
}

.coffee-menu {
    margin-bottom: 6rem;
}

//кнопка переключения

.all_drink__button {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.drink__button{
    display: flex;
    border: 0.1rem solid var(--color-border);
    align-items: center;
    justify-items: start;
    padding: 0.8rem;
    padding-right: 1.5rem;
    background-color: var(--color-background);
    margin: 0 0.8rem;

}

.drink__image {
    padding: 0.4rem 0.65rem;
    border: none;
    border-radius: 10rem;
    background-color: var(--color-border);
    margin-right: 0.8rem;

}

.drink__content {
    color: var(--color-text-dark);
    font-size: 1.6rem;
    line-height: 150%;
}

.drink__button_modificed {
    display: flex;
    border: 0.1rem solid var(--color-border-dark);
    align-items: center;
    justify-items: start;
    padding: 0.8rem;
    padding-right: 1.5rem;
    background-color: var(--color-background-contact-us);
    margin: 0 0.8rem;

}

.drink__image_modificed {
    padding: 0.4rem 0.65rem;
    border: none;
    border-radius: 10rem;
    background-color: var(--color-background);
    margin-right: 0.8rem;

}

.drink__content_modificed {
    color: var(--color-text-light);
    font-size: 1.6rem;
    line-height: 150%;
}

.drink__button:hover {
        display: flex;
        border: 0.1rem solid var(--color-border-dark);
        align-items: center;
        justify-items: start;
        padding: 0.8rem;
        padding-right: 1.5rem;
        background-color: var(--color-background-contact-us);
        margin: 0 0.8rem;

    .drink__image {
        padding: 0.4rem 0.65rem;
        border: none;
        border-radius: 10rem;
        background-color: var(--color-background);
        margin-right: 0.8rem;
    }
    .drink__content{
        color: var(--color-text-light);
        font-size: 1.6rem;
        line-height: 150%;
    }
    
}