.favorite-coffee {
text-align: center;
margin-bottom: 10rem;
}

.favorite-coffee__h2 {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
}

.slider-coffee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}

.slider__content {
    transform: translate(-100%);
    //transition: 7s;
    width: 33.33%;
    flex-shrink: 0;
}

.slider__content_all2 {
    max-width: 48rem;
    max-height: 115.2rem;
    overflow: hidden;

}

.slider__content_all {
    display: flex;
    width: 300%;

}


.slider__image {
    max-width: 48rem;
    max-height: 48rem;
    margin-bottom: 1.6rem;
    width: 100%;
    flex-shrink: 0;
    
}

.slider__h5 {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.slider__info {
    max-width: 48rem;
    margin-bottom: 1.6rem;
    font-weight: 400;
    line-height: 150%;
}

.slider__price {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 125%;
}

.button_slider {
    display: flex;
    padding: 1.7rem;
    border: 1px solid var(--color-background-contact-us);
    transition: 0.7s;
}


@media (hover: hover) and (pointer: fine) {
    .button_slider:hover {
        background-color: var(--color-background-contact-us);
        cursor: pointer;
        transition: 0.7s;
        
        .arrow_svg {
            stroke: var(--color-background);
        }
    }
}

@media (max-width:700px) {
    .button_slider {
        display: none;
    }

}



.slider__control {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.control__border {
    margin: 0 0.6rem;
    border-radius: 10rem;
    background-color: var(--color-border);
    width: 4rem;
    height: 0.4rem;

}

.control__border-color {
    background-color: var(--color-border-dark);
    border-radius: 10rem;
    width: 4rem;
    height: 0.4rem;
    animation-duration: 6s;
    animation-name: control_animation;
}

@keyframes control_animation {
    from { 
        width: 0%;
    }
    to {
        width: 100%;
    }
}



.about__h2 {
    margin-bottom: 4rem;
}