.favorite-coffee {
text-align: center;
margin-bottom: 10rem;
}

.favorite-coffee__h2 {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
}

.slider-coffee {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.slider__image {
    width: 48rem;
    height: 48rem;
    margin-bottom: 2rem;
}

.slider__h5 {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.slider__info {
    width: 48rem;
    margin-bottom: 1.6rem;
    font-weight: 400;
    line-height: 150%;
}

.slider__price {
    margin: 0;
    margin-bottom: 4rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 125%;
}

.button_slider {
    display: flex;
    padding: 1.7rem;
    border: 1px solid var(--color-background-contact-us);
    
}


.button_slider:hover {
    display: flex;
    padding: 1.7rem;
    border: 1px solid var(--color-background);
    background-color: var(--color-background-contact-us);
    cursor: pointer;
    
    .arrow_svg {
        stroke: var(--color-background);
    }
}


.slider__control {
    display: flex;
    justify-content: center;
}

.control__border {
    margin: 0 0.6rem;
    border-radius: 10rem;
    background-color: var(--color-border);
    width: 4rem;
    height: 0.4rem;
}



.activ-control__border {
    margin: 0 0.6rem;
    border-radius: 10rem;
    background-color: var(--color-border-dark);
    width: 4rem;
    height: 0.4rem;
}