.mobile-app {
    margin-bottom: 10rem;
}

.mobile-app__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    //max-height: 63rem;
    max-width: 63rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @media screen and (max-width: 1439px) {
        max-width: none;
    }
}

.image-mobile {
    width: 100%;
}

.mobile-app__h2 {
    margin-bottom: 4rem;
}

.mobile-app__p {
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: 400;
    line-height: 150%;
}

.mobile-app__buttons {
    display: flex;
    flex-wrap: wrap;
}

.app_icon {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 0.8rem;
}

.app__button {
    display: flex;
    align-items: center;
    width: 20rem;
    padding: 1.2rem 2rem;
    justify-content: start;
    border: 1px solid var(--color-background-contact-us);
    margin-right: 2rem;
    transition: 0.7s;
    margin-bottom: 2rem;
}

@media (hover: hover) and (pointer: fine) {
    .app__button:hover {

        background-color: var(--color-background-contact-us);
            color: var(--color-text-light);
            cursor: pointer;
        
            .app_svg {
                fill: var(--color-background);
            }
        
    }
}




.app_button-p1__content {
    display: flex;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    line-height: 140%;
}

.app_button-p2__content {
    display: flex;
    font-size: 1.6rem;
    margin: 0;
    line-height: 150%;
}

.mobile-app__image {
    display: flex;
    justify-content: right;
    //height: 63rem;
    //width: 63rem;

}

.image-mobile {
    display: block;
}