.mobile-app {
    margin-bottom: 10rem;
}

.mobile-app__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 63rem;
    width: 63rem;
}

.mobile-app__h2 {
    margin-bottom: 4rem;
}

.mobile-app__p {
    margin-top: 0;
    margin-bottom: 4rem;
}

.mobile-app__buttons {
    display: flex;
}

.app_icon {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 0.8rem;
}

.app__button {
    display: flex;
    align-items: center;
    width: 20rem;
    padding: 1.2rem 2rem;
    justify-content: start;
    border: 1px solid var(--color-background-contact-us);
    margin-right: 2rem;
}



.app_button-p1__content {
    display: flex;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    line-height: 140%;
}

.app_button-p2__content {
    display: flex;
    font-size: 1.6rem;
    margin: 0;
    line-height: 150%;
}

.mobile-app__image {
    height: 63rem;
    width: 63rem;
}

