.layout-2-colump {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    flex-wrap: wrap;

}

.layout-2-colump-long {
    display: flex;
    justify-content: center;
    column-gap: 10rem;
    flex-wrap: wrap;

}