

.contact-us-back {
    padding: 10rem 10rem 0 10rem;
    border-radius: 4rem;
    background: var(--color-background-contact-us);
    color: var(--color-text-light);
    margin-bottom: 4rem;
    justify-content: left;

    @media screen and (max-width:768px) {
        padding: 10rem 6rem 0 6rem;
    }

    @media screen and (max-width: 500px) {
        padding: 6rem 1.6rem;
    }
}

.contact-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53rem;
    padding-bottom: 10rem;

    @media screen and (max-width: 500px) {
        padding-bottom: 4rem;
    }
}

.contact-us-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53rem;
    padding-bottom: 10rem;

    @media screen and (max-width: 500px) {
        padding-bottom: 0;
    }
}

.contact-us__buttons {
    display: flex;
}

.contact-us__p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.contact-us__p3 {
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.footer__h2 {
    margin-bottom: 4rem;
}

.footer__h3 {
    margin-bottom: 4rem; 
}


.button_footer {
    margin-right: 1.2rem;
    display: flex;
    padding: 1.5rem 1.7rem;
    background: var(--color-background-contact-us);
    border: 0.1rem solid var(--color-border);
    transition: 0.7s;
}

@media (hover: hover) and (pointer: fine) {
    .button_footer:hover {
        background: var(--color-background);
        cursor: pointer;
    
      .social_svg {
        stroke: var(--color-background-contact-us);
      }
    }
}



.contact-us__ico {
    margin-right: 0.8rem;
}

