

.contact-us {
    padding: 10rem;
    border-radius: 4rem;
    background: var(--color-background-contact-us);
    color: var(--color-text-light);
    margin: 0 4rem 4rem 4rem;
}

.contact-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53rem;
}

.contact-us-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53rem;
}

.contact-us__buttons {
    display: flex;
}

.contact-us__p {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.footer__h2 {
    margin-bottom: 4rem;
}

.footer__h3 {
    margin-bottom: 4rem; 
}


.button_footer {
    margin-right: 1.2rem;
    display: flex;
    padding: 1.7rem;
    background: var(--color-background-contact-us);
    border: 0.1rem solid var(--color-border);
}

.contact-us__ico {
    margin-right: 0.8rem;
}