.header {
    padding: 2rem 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
}

.logo{
height: 6rem;
}

.navigation {
    display: flex;
    align-items: center;
    line-height: 2.8rem;
    margin: 0;
}

.navigation__link {
    list-style: none;
    padding: 0 2rem;
    justify-content: space-between;
}

.navigation__link_menu {
    list-style: none;

    justify-content: space-between;

}

.coffee-cup__image {
    text-align: center;
}

.header__navigation {
    @media screen and (max-width: 850px) {
        display: none;
    }
}

.header__menu {
    display: flex;
    @media screen and (max-width: 850px) {
        display: none;
    }
}







.border_menu {
    border-bottom: 0.3rem solid var(--color-border-dark);
    border-radius: 0.1rem;
}